{{> nidyx/top_info}}
{{> nidyx/imports}}

@interface {{name}}{{#json_model}} : JSONModel{{/json_model}}

{{#properties}}
{{#desc}}
// {{desc}}
{{/desc}}
@property {{attributes}} {{type}}{{name}};
{{/properties}}

@end
