{{> top_info}}
{{> imports}}
@implementation {{name}}
{{#name_overrides?}}
{{#json_model?}}

+ (JSONKeyMapper *)keyMapper
{
    return [[JSONKeyMapper alloc] initWithDictionary:@{
{{{name_override_string}}}
    }];
}

{{/json_model?}}
{{#mantle?}}

+ (NSDictionary *)JSONKeyPathsByPropertyKey {
    return @{
{{{name_override_string}}}
    };
}

{{/mantle?}}
{{/name_overrides?}}
@end
