{{> top_info}}
{{> imports}}
@interface {{name}}{{#json_model}} : JSONModel{{/json_model}}

{{#properties}}
{{#desc}}
// {{desc}}
{{/desc}}
@property ({{attributes}}{{getter_override}}) {{type_name}}{{#json_model}}{{#optional}}<Optional>{{/optional}}{{/json_model}} {{#is_obj?}}*{{/is_obj?}}{{name}};
{{/properties}}

@end
