//
// {{file_name}}
{{#project}}
// {{project}}
{{/project}}
//
// Created by {{author}} on {{created_date}}.
// Copyright (c) {{created_year}} {{owner}}. All rights reserved.
//

{{#imports}}
#import "{{.}}.h"
{{/imports}}

